---
import { markdown as markdownToHtml } from "@astropub/md";
import Layout from "@layouts/Layout.astro";
import { notion } from "@lib/notion";

export const prerender = false;

const { slug } = Astro.params;

const { data, markdown: m } = await notion.getBlogBySlug(slug!);
const markdown = await markdownToHtml(m);
---

<Layout
  title={data.title}
  description={data.description}
>
  <div class="mx-auto max-w-4xl p-5">
    <article class="animate">
      {markdown}
    </article>
  </div>
</Layout>
