@tailwind base;
@tailwind components;
@tailwind utilities;

/* fixed for article */
.prose > * {
  font-family: "DM Sans", sans-serif;
}
.prose > h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.prose > pre {
  padding: 0;
  margin: 0;
  overflow-x: visible !important;
  border-radius: 12px !important;
}
.prose > pre > div {
  border-radius: 12px !important;
}
.prose code > * {
  font-family: "JetBrains Mono", monospace !important;
}

.prose-sm > pre > div > div > pre {
  background: var(--secondary) !important;
}
hr {
  background: var(--accent) !important;
  height: 2px;
}

/* fonts */
.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* variable */
@layer base {
  :root {
    --text: #040316;
    --background: #dedde4;
    --primary: #343b58;
    --secondary: #f9f7ff;
    --accent: #343b58;
  }
  .dark {
    --text: #eae9fc;
    --background: #1c1b22;
    --primary: #7aa2f7;
    --secondary: #000000;
    --accent: #7aa2f7;
  }
}
/* for dark mode animation */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
/* for shiki */
.dark .shiki,
.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #dedde4;
}
.dark ::-webkit-scrollbar-track {
  background-color: #1c1b22;
}

::-webkit-scrollbar-thumb {
  background-color: #5a576e;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: all 3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f3e4d;
}
/* for firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #5a576e #dedde4;
}

html:has(.dark) {
  scrollbar-color: #5a576e #1c1b22;
}
